<div class="location-details">

    <h1 class="heading">Location Details</h1><hr>

    <table>
        <tr>
        <th>Name</th>
         <td>{{details.name}}</td>
        </tr>
       
        <tr>
            <th>Phone No.</th>
            <td>:{{details.businessPhoneNumber}}</td>
           </tr>

           <tr>
            <th>prepration Time</th>
            <td>:{{details.preprationTime}}</td>
           </tr>

           <tr>
            <th>open Until</th>
            <td>:{{details.openUntil}}</td>
           </tr>
           <tr>
            <th>Is Open</th>
            <td>:{{details.isOpen}}</td>
           </tr>
           <tr>
            <th>Adress</th>
            <td>:{{details.address.streetAddress}}, {{details.address.city}}, {{details.address.postalcode}}, {{details.address.state}} , {{details.address.country}}</td>
           </tr>


      </table>
</div>
