
  .search-area{
    background:#83c5be;
    position: fixed;
    width :40%;
    height: 100%;
    z-index: 1;
    text-align: center;
    
  }

.search-area input{
    margin-top: 10%;
    position: relative;
    height: 3em;
    width: 60%;
    border:1px,solid,black;
    border-radius: 5px;

}
.search-area h2{
    padding:5%;

}
 hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}


.result-area {
  position: fixed;
  padding-top: 5px;
  height :63%;
  width :40%;
  border-radius: 10px;
  overflow: auto;
}
 


.result-area ul li{
  border-radius: 10px;
  background-color: #264653;
  padding: 5px;
  margin: 2px;
  color: white;
  cursor:pointer;
}

.result-area ul li div{
  color:#caffbf;
  font-size: small;

}

.view-area{
  text-align: center;
  position: fixed;
  height: 100%;
  margin-left: 40% ;
  width : 50%;
  padding: 5%;
  background-color: #a8dadc;
  
}

.view-area  div .open{
  color:green;
  font-size: large;
  font-weight: 1000;

}

span.close{
  color: #d00000;  
}

 .address{
   margin-top: 10%;
  background-color: #0a9396;
  padding:15%;
  border-radius: 10px;
  height:90px;
  color:#94d2bd;
}
    



  
